{% extends 'base.html.twig' %}

{% block title %}Liste des photos{% endblock %}

{% block body %}
    <h1>Liste des photos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Photos</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for picture in pictures %}
            <tr>
                <td>{{ picture.id }}</td>
                <td>{{ picture.PicturesFiles }}</td>
                <td>{{ picture.Description }}</td>
                <td>
                    <a href="{{ path('app_pictures_show', {'id': picture.id}) }}">Voir</a>
                    <a href="{{ path('app_pictures_edit', {'id': picture.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pictures_new') }}">Nouvelle photo</a>
{% endblock %}
