{% extends 'base.html.twig' %}

{% block header %}
    <h1 class="home-h1">EXPOSITION LAND</h1>
    {% if app.user %}
    <p><span>Bonjour : {{ app.user.userIdentifier }} </span> </p>
    <a href="{{ path('app_logout') }}">
        Déconnexion</a>
    {% else %}
    <a class="login"  href="{{ path('app_login') }}">Connexion</a>
    {% endif %}
{% endblock %}

{% block body %}
    {% block main %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_pictures_new') }}">Ajouter une image</a>

        {% endif %}
        <section class="img-home">

                <img class="principal_image" src="{{ asset('uploads/images/image-6384cd2c7dd82.jpg') }}" alt="aaaa">
        </section>
        <p> lorem*10 </p>
    {% endblock %}
{% endblock %}